body{
    margin : 0;
    overflow-y : hidden;
}

.outer{
    height: 100vh;
    overflow-y : auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
    display: none;
}

.page1 {
    height: 100vh;
    background-color: #212121;
}

.page2 {
    height: 100vh;
    background-color: beige;
}

.page3 {
    height: 100vh;
    background-color: #212121;
}

.page4 {
    height: 100vh;
    background-color: beige;
}

.page5 {
    height: 100vh;
    background-color: #212121;
}

.boundary {
    height : 5px;
    background-color: red;
}