.page1body {
    white-space: pre-line;
}

 /* 위에 빈칸 채워줌. 그리드로 만들어서*/
.header {
    display : grid;
}

/* 하이퍼링크 색깔 변경, 밑줄 삭제*/
.header a {
    color : inherit;
    text-decoration: none;
}

.p1body {
    display : grid;
}