.typer::after {
    content: "";
    margin-left: .6rem;
    border-right : 2px solid #212121;
    animation: blink 1s step-end infinite;
  }
   
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }
  